<!DOCTYPE html>
<html>
<head>
    <title>Github Query</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>

<body>

<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div href="#" class="navbar-brand">
            <strong>Github Query Service Web Interface</strong>
        </div>
    </div>
</header>

<main class="col-sm-12 col-md-12 pt-3">
    <h3 class="mb-4">Github History</h3>

    <p class="mb-4">
        Insert the username, a repository name and a page number and click "Show", commits will be shown below.
    </p>

    <form id="query">
        <div class="form-group row">
            <label for="userName" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="userName" placeholder="visionmedia" value="visionmedia">
            </div>
        </div>
        <div class="form-group row">
            <label for="repoName" class="col-sm-2 col-form-label">Repository Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="repoName" placeholder="debug" value="debug">
            </div>
        </div>
        <div class="form-group row">
            <label for="pageNumber" class="col-sm-2 col-form-label">Page</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="pageNumber" placeholder="0" value="0">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><p style="color:red" id="alert"></p></div>
            <button type="submit" class="btn btn-primary mb-4 offset-sm-2" id="show">Show</button>
            <img src="spin.gif" width="40em" height="40em" class="offset-sm-1" id="spin" style="display: none;"/>
        </div>
    </form>

    <section id="commits-section" style="display: none;">
        <h4 class="col-sm-3">Commits</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>SHA</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody id="commits-result"></tbody>
            </table>
        </div>
    </section>
</main>

<script id="commits-template" type="text/x-handlebars-template">
    <div id="commits">
        {{#each commits}}
        <tr>
            <td>{{{sha}}}</td>
            <td>{{{message}}}</td>
        </tr>
        {{/each}}
    </div>
</script>

<!-- Libraries and script -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="history.js"></script>

</body>
</html>